@import url('https://fonts.gstatic.com/s/heebo/v21/NGSpv5_NC0k9P_v6ZUCbLRAHxK1EiSysd0mm_00.woff2');

html,
body {
  background-color: hsl(212, 45%, 89%);
	font-family: 'Convergence', sans-serif;
  height: 100%;
  margin: auto;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.card {
  width: 16rem;
  padding: 0.8rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
}

.img-qrcode {
  width: 16rem;
  height: 16rem;
  border-radius: 0.6rem;
}

.text {
  text-align: center;
}

.text h1 {
  font-size: 1.2rem;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

.text p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 400;
}

Footer {
	position: fixed;
	bottom: 0;
  text-align: center;
  font-size: 15px;
}

Footer a {
  color: hsl(228, 45%, 44%);
}